@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<KidsZone.DNN.Dnn.KidsZone.HelloWorld.Models.Item>

@{
    ViewBag.Title = "Form Example";
}

<h2>Form Example</h2>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <p>@ViewBag.FirstName</p>
}

<form action="/Item/HirdetesLetrehozas" method="post">
    @Html.AntiForgeryToken()

    <div>
        <span>Legó neve</span>
        @Html.TextBoxFor(model => model.ItemName)
        @Html.ValidationMessageFor(model => model.ItemName)
    </div>

    <div>
        <span>Leírás (Kérjük írja bele az elérhetőséget is!)</span>
        @Html.TextBoxFor(model => model.ItemDescription)
        @Html.ValidationMessageFor(model => model.ItemDescription)
    </div>

    <div>
        <span>Ár</span>
        @Html.TextBoxFor(model => model.LastModifiedByUserId)
        @Html.ValidationMessageFor(model => model.LastModifiedByUserId)
    </div>



    <input type="submit" value="Submit" />
</form>